extends ../template/_template

append configuracion
    -var page			= {}
    -page['link']		= 'seguros/index.html'
    -page['title']		= 'Seguros'
    -page['descrip']	= 'Página de seguros'
    -page['keys']		= 'seguros, negocios, personales'
    -page['lang']		= 'es'
    -page['responsive']	= true
    -page['section']	= []
    -page['libsCss']	= []
    -page['libs']		= []
    -page['plugins']	= ['splide']
    -page['js']			= [] 

    - var path = '../../'


block contenido
    main.o-section--main
        .c-banner-text.c-banner-text--padding1
            section.o-section.o-section--banner-small
                .o-container
                    .o-module.o-module--deco5.u-text-center
                        .o-module__title 
                            h1 Cotizar #[strong Seguro]
        .c-navigation-page.c-navigation-page--void
            div.c-navigation-page__list-section

        .c-contact-form.c-contact-form--quotation
            section.container-contact-form.container-contact-form--quotation
                h3#contact-form-title Un agente especializado, te ayudará a contratar lo que realmente necesitas.
                form.container-form(action="#" method="post" aria-labelledby="contact-form-title")
                    label(for="insurance-type") Tipo de seguro de Interés
                    div.container-message
                        div.container-form__custom-select
                            select(name="insurance-type" id="insurance-type" aria-required="true")
                                option(value="" disabled selected) Seleccione...
                                option(value="Ambiental") Instituciones educativas
                                option(value="Ambiental") Profesionistas
                                option(value="Ambiental") Sector salud
                                option(value="Ambiental") Ambiental
                                option(value="Ambiental") Construcción
                                option(value="Ambiental") Industria Manufactura y Comercio
                                option(value="Ambiental") Aviación
                                option(value="Ambiental") Embarcaciones
                                option(value="Ambiental") Carga en Tránsito
                                option(value="Ambiental") Gobierno
                                option(value="Ambiental") Familiar
                                option(value="Ambiental") Esparcimiento
                                option(value="Ambiental") Riesgos Especiales
                            i.i-icon.i-angle-down(aria-hidden="true")
                        div#error-insurance-type.error-message
                    div.container-message
                        input(type="text" id="full-name" name="full-name" placeholder="Nombre completo" aria-required="true")
                        div#error-full-name.error-message
                    div.container-message
                        input(type="text" id="phone" name="phone" placeholder="Teléfono celular" aria-required="true")
                        div#error-phone.error-message
                    div.container-message
                        input(type="email" id="email" name="email" placeholder="Correo electrónico" aria-required="true")
                        div#error-email.error-message
                    div.container-message
                        input(type="text" id="city" name="city" placeholder="Ciudad" aria-required="true")
                        div#error-city.error-message
                    div.container-message
                        div.container-form__custom-select
                            select(name="state" id="state" aria-required="true")
                                option(value="" disabled selected) Seleccione una opción
                                option(value="Estado") Estado
                            i.i-icon.i-angle-down(aria-hidden="true")
                        div#error-state.error-message
                    .container-error
                        div.container-form__container-terms
                            label(for="TyC") 
                                input(type="checkbox" id="TyC" name="TyC" aria-required="true")
                                a(href="" target="_blank") Acepto los Términos y Condiciones
                        div#error-TyC.error-message
                    div.container-form__container-contact
                        p ¿Cómo deseas ser contactado?
                        div.container-contacts
                            label(for="whatsapp") 
                                input(type="checkbox" id="whatsapp" name="contact-method" value="whatsapp")
                                img(src=urlFolder+"images/seguros/GMX-whatsapp-verde.svg" alt="Icono de whatsapp color verde") 
                                | Whatsapp
                            label(for="email-contact") 
                                input(type="checkbox" id="email-contact" name="contact-method" value="email")
                                img(src=urlFolder+"images/seguros/GMX-email-azul.svg" alt="Icono de mail color azul")
                                | Correo electrónico
                        div#error-contact-method.error-message
                    div.container-form__container-button
                        button.o-btn.o-btn--green(type="submit" aria-label="Contactar agente") Contactar agente
            div.container-officine
                p Si lo deseas puedes consultar #[br] nuestras 
                    a(href="" title="Ir hacia oficinas de atención") oficinas de atención