extends ../template/_template

block append configuracion
	- var page = {};
	- page['link'] = 'encuentra-un-agente/index.html';
	- page['title'] = 'Encuentra un Agente';
	- page['descrip'] = 'Encuentra un agente para contratar lo que realmente necesitas';
	- page['keys'] = 'seguros, negocios, personales';
	- page['lang'] = 'es';
	- page['responsive'] = true;
	- page['section'] = [];
	- page['libsCss'] = [];
	- page['libs'] = [];
	- page['plugins'] = ['splide'];
	- page['js'] = [];

	- var path = '../../';

block contenido
	main.o-section--main
		.c-banner-text.c-banner-text--padding1
			section.o-section.o-section--banner-small
				.o-container
					.o-module.o-module--deco5.u-text-center
						.o-module__title.o-module__title--column
							h1 Encuentra un #[strong Agente]
		.c-navigation-page.c-navigation-page--void
			.c-navigation-page__list-section

		.c-contact-form.c-contact-form--quotation
			section.container-contact-form.container-contact-form--quotation
				h2#contact-form-title Un agente especializado, te ayudará a contratar lo que realmente necesitas.
				form.container-form(action='#' method='post' aria-labelledby='contact-form-title')
					label(for='insurance-type') Tipo de seguro de Interés
					.container-message
						.container-form__custom-select
							select#insurance-type(name='insurance-type' aria-required='true')
								option(value='' disabled selected) Seleccione...
								option(value='Ambiental') Instituciones educativas
								option(value='Ambiental') Profesionistas
								option(value='Ambiental') Sector salud
								option(value='Ambiental') Ambiental
								option(value='Ambiental') Construcción
								option(value='Ambiental') Industria Manufactura y Comercio
								option(value='Ambiental') Aviación
								option(value='Ambiental') Embarcaciones
								option(value='Ambiental') Carga en Tránsito
								option(value='Ambiental') Gobierno
								option(value='Ambiental') Familiar
								option(value='Ambiental') Esparcimiento
								option(value='Ambiental') Riesgos Especiales
							i.i-icon.i-angle-down(aria-hidden='true')
						#error-insurance-type.error-message
					.container-message
						input#full-name(type='text' name='full-name' placeholder='Nombre completo' aria-label='Nombre completo' aria-required='true')
						#error-full-name.error-message
					.container-message
						input#phone(type='text' name='phone' placeholder='Teléfono celular' aria-label='Teléfono celular' aria-required='true')
						#error-phone.error-message
					.container-message
						input#email(type='email' name='email' placeholder='Correo electrónico' aria-label='Correo electrónico' aria-required='true')
						#error-email.error-message
					.container-message
						input#code-postal(type='text' name='code-postal' placeholder='Código postal' aria-label='Código postal' aria-required='true')
						#error-code-postal.error-message
					.container-message
						input#city(type='text' name='city' placeholder='Ciudad' aria-label='Ciudad' aria-required='true')
						#error-city.error-message
					.container-message
						.container-form__custom-select
							select#state(name='state' aria-label='Estado' aria-required='true')
								option(value='' disabled selected) Estado
								option(value='Estado') Estado
							i.i-icon.i-angle-down(aria-hidden='true')
						#error-state.error-message
					.container-error
						.container-form__container-terms
							label(for='TyC') 
								input#TyC(type='checkbox' aria-label='terminos y condiciones' name='TyC' aria-required='true')
								a(href='' target='_blank' title='Ir hacia terminos y condiciones') Acepto los Términos y Condiciones
						#error-TyC.error-message
					.container-form__container-contact
						p ¿Cómo deseas ser contactado?
						.container-contacts
							label(for='whatsapp') 
								input#whatsapp(type='checkbox' name='contact-method' aria-label='whatsapp' value='whatsapp')
								img(src=urlFolder + 'images/seguros/GMX-whatsapp-verde.svg' alt='Icono de whatsapp color verde') 
								| Whatsapp
							label(for='email-contact') 
								input#email-contact(type='checkbox' name='contact-method' aria-label='email' value='email')
								img(src=urlFolder + 'images/seguros/GMX-email-azul.svg' alt='Icono de mail color azul')
								| Correo electrónico
						#error-contact-method.error-message
					.container-form__container-button
						button.o-btn.o-btn--green(type='submit' aria-label='Encontrar agente') Encontrar agente
			.container-officine
				p Si lo deseas puedes consultar #[br] nuestras 
					|
					a(href='' title='Ir hacia oficinas de atención') oficinas de atención
