.o-bento
    width: 100%
    max-width: 640px
    min-height: 750px
    display: flex
    flex-direction: column
    gap: 1em
    > h2
        font-size: 28px
        color: #005581
        margin-bottom: 1em
        +Responsive(max, 600px)
            font-size: 22px
    .row
        &--uno
            flex: 4
            display: flex
            gap: 1em
            +Responsive(max, 600px)
                flex-direction: column
            &__col
                flex: 1
                display: flex
                flex-direction: column
                gap: 1em
                &__box
                    flex: 1
                    display: flex
                    flex-direction: column
                    gap: 2em
                    &--uno
                        flex: 8
                    &--dos
                        padding: 1em
                        max-height 112px
        &--dos
            flex: 1

    .container-text
        display: flex
        flex-direction: column
        gap: .5em
        position relative
        color white
        &--black
            color: black
        p
            font-size 22px
            +MobileLandscape(max)
                font-size 16px
        h3
            font-family tipografia-serif
        strong
            font-weight: 600
        .container-image
            position absolute
            top 0
            right: 0
            > img
                width 42px
        .text-serif
            font-family tipografia-serif
        &--color-black
            height: 100%
            justify-content: space-between
            margin-bottom: 2em
            *:not(.o-btn-arrow, i)
                color: black
    .container-with-button
        display: flex
        align-items: flex-end
        gap: 1em
        color white
        * 
            margin: 0
        > .o-btn-arrow
            width 36px
            height 36px
            i
                font-size: .8em
    .container-image
        &--height-full
            display: flex
            justify-content: center
            width 100%
            height: 100%
            img
                height: 100%

    &--company
        min-height: 560px
        box-sizing: border-box
        display: grid;
        gap: 1rem;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 0.75fr 0.75fr; 
        grid-template-areas: "cellphone-1 cellphone-2" "cellphone-1 cellphone-2" "image cellphone-2" "anchor anchor";
        +Phablet(max)
          grid-template-areas: "cellphone-1" "cellphone-2" "image" "anchor"
          grid-template-columns 1fr;
        .cellphone-1
            grid-area cellphone-1;
            display flex
            flex-direction column
            gap 2.5rem
        .cellphone-2
            grid-area cellphone-2;
            display flex
            flex-direction column
            justify-content space-between
            padding-top 3rem
            padding-bottom 3rem
            +Phablet(max)
              gap 2rem;
            .container-text
              display flex
              flex-direction row
              .container-image
                position relative
                img
                  max-width: 42px
        .image
            grid-area image;
            padding 0
            .container-image
              display flex
              justify-content center
              align-items center
            img
              max-height: 75px
        .anchor
            grid-area anchor;
            display flex
            flex-direction column
            justify-content center
            gap 1rem
            padding 1rem 2rem
            p
              margin 0
            a
              color black
              font-weight 600
        .container-text
            +Phablet(max)
              display flex
              justify-content space-between
            h3
                font-size: 28px

