.o-card-archive
    display: flex
    width 100%
    background-color: blue-1
    align-items: center
    border: 1px solid blue-3
    border-radius: 16px
    padding: 0
    cursor: pointer
    .container-image
        padding: 0 1em
        img
            width 20px
            height auto
    .container-text
        border-left: 1px solid blue-3
        height: 100%
        padding: 1em
        display: flex
        align-items: center
        p
            margin-bottom: 0
            color: blueDark-1