.o-container-card
	display: flex
	flex-direction: column
	gap: 2em
	margin-top: 3.5em
	h3
		font-size: 60px
		margin: 0
		font-family tipografia-serif
		color blueDark-1
		+Resposive(max, 600px)
			font-size: 42px
		+MobilePortrait(max)
			font-size: 30px



.o-card
	border-radius 36px
	background blueDark-5
	display flex
	padding 30px
	p
		color black

	&--blueDark
		background blueDark-4
		p
			color white

	&--line
		background blue-1
		border 1px solid blue-3

.o-card-gray
	width 100%
	max-width: 640px
	display flex
	flex-direction column
	background-color blue-1
	border 1px solid blue-3
	border-radius 2em
	padding: 2em
	gap: 2em
	h2
		color blueDark-1
		font-size 60px
		font-family tipografia-serif
		+Resposive(max, 600px)
			font-size 40px
		+MobilePortrait(max)
			font-size 28px

	p
		color blueDark-1
		font-size 26px
		font-family tipografia-serif
		+Resposive(max, 600px)
			font-size 16px
		+MobilePortrait(max)
			font-size 20px

.o-card-image
	width 100%
	background-color: white
	// height: 160px
	// background-repeat: no-repeat
	// background-size: cover
	// background-position: center center
	// &--compania
	// 	background-image url("/images/compania/GMX-compania.png")
	img
		width 100%
		border-radius: 2em
		height: 160px
		object-fit: cover

.o-card-step
	display: flex
	flex-direction: column
	padding: 18px 42px
	width 100%
	border: 1px solid blue-3
	background-color: blue-1
	border-radius: 2em
	gap: 1em
	position: relative
	+MobileLandscape(max)
		padding: 20px 20px
	h3 
		font-family: tipografia-serif
		font-size: 28px
		+MobileLandscape(max)
			font-size: 26px
	p
		margin: 0
	&--none
		+TabletLandscape(max)
			display: none
	&--image
		width: fit-content
		justify-content: center
		padding: 0 20px
		+TabletLandscape(max)
			padding: 2em 20px
			height: 100px
		+MobileLandscape(max)
			margin-top 40px
		img
			width 50px
		&__step
			color: #005581
			position: absolute
			left: -92px
			+MobileLandscape(max)
				left 0
				top -30px
		&:before
			content: ''
			position: absolute
			left: -38px
			width 16px
			height 16px
			background-color: blueDark-4
			border-radius: 100%
			+MobileLandscape(max)
				top: -30px
	&--blue
		border: 1px solid blueDark-1
		background-color: blueDark-1
		color: white
		padding-right: 65px
	&--history
		padding: 40px
		+MobileLandscape(max)
			padding: 25px
		p
			font-family: tipografia-serif
			line-height: 36px
			font-size: 26px
			color blueDark-1
			+MobileLandscape(max)
				font-size: 20px
	&--blue-light
		border: 1px solid blueDark-5
		background-color: blueDark-5
		color: black
		padding: 46px 56px
		+MobileLandscape(max)
			padding: 25px
		small
			font-size: 14px
		strong
			font-size: 52px
			+MobileLandscape(max)
				font-size: 42px
		p
			font-size: 18px
			line-height: 28px
			+MobileLandscape(max)
				font-size: 16px
			
