.o-card-archive
    display: flex
    width 100%
    background-color: blue-1
    position: relative
    align-items: center
    border: 1px solid blue-3
    border-radius: 16px
    padding: 0
    padding-left: 60px
    cursor: pointer
    &:before
        content: ""
        position: absolute
        left: 20px
        display: block
        width: 24px
        height: 30px
        background: url("/images/global/GMX-pdf.png") no-repeat center center
        background-size: contain

    .container-text
        border-left: 1px solid blue-3
        height: 100%
        padding: 1em
        display: flex
        align-items: center
        span
            margin-bottom: 0
            color: blueDark-1
        +Mobile(max)
            font-size: 14px