.o-card
	border-radius 36px
	background blueDark-5
	display flex
	padding 30px
	p
		color black

	&--blueDark
		background blueDark-4
		p
			color white

	&--line
		background blue-1
		border 1px solid blue-3
