.o-section
	width 100%
	display: flex
	flex-direction: column
	align-items: center
	padding 20px 0
	+TabletPortrait()
		padding 45px 0

	&--top
		padding 50px 0 20px
		+TabletPortrait()
			margin-top -74px
			padding 0 0 50px
	&--main
		padding-top 68px
		+TabletLandscape()
			padding-top 180px

	&--banner
		padding 30px 0 40px
		+TabletLandscape()
			padding 40px 0
	&--banner-small
		padding 10px 0
		+TabletLandscape()
			padding 25px 0
	&--max-1200
		padding-top 0
		flex-direction: column
		max-width: 1200px
		gap: 3em
		width 100%
	&--max-800
		flex-direction: column
		max-width: 800px
		padding: 30px 20px
		gap: 3em
	&--max-1000
		flex-direction: column
		max-width: 1000px
		padding: 30px 20px
		gap: 3em
		h2.title
			width 100%
			text-align left
			color blueDark-1
			font-size 60px
			font-family tipografia-serif
			+Responsive(max, 600px)
				font-size 40px
			+MobilePortrait(max)
				font-size 28px
			&.mb-spacing
				margin-bottom 2rem
		h3.subtitle
			width 100%
			text-align left
			color blueDark-1
			font-size 28px
			+Responsive(max, 600px)
				font-size 16px
			+MobilePortrait(max)
				font-size 20px
			&.my-spacing
				margin 2.5rem 0
	&--max-770
		box-sizing: content-box
		padding-top 0
		max-width: 770px
		align-items: flex-start
		+Responsive(max, 886px)
			align-items: center
			padding: 0 20px
		> h3 
			font-size: 60px
			font-family: tipografia-serif
			color blueDark-1
			margin-bottom: 48px
			+Responsive(max, 886px)
				font-size: 40px
				max-width: 640px
			+MobilePortrait(max)
				font-size 28px

	&--padding
		padding: 30px 20px
	&--pl-6
		padding-left: 6em
		+Responsive(max, 886px)
			padding-left: 0
		+Tablet(max)
			padding-left: 20px
	&--video
		min-height 40vh
		background-color #04689D
		border-radius 6px
	&--notice
		border-radius 2rem
		width 95%
		padding-top 2rem
		padding-bottom 2rem
		gap 1.5rem
		+TabletPortrait(max)
			padding: 30px 20px
	&--blue
		background-color blueDark-1
	&--scroll-x
		width 100%
		overflow-x: scroll
	.greetings
		display: flex
		flex-direction: column
		gap: .5em
		color blueDark-1
		font-size: 20px
		*
			margin-bottom: 0
		> p
			margin-bottom: 1em
			font-family: tipografia-serif
		> h4
			span
				display: block
				margin-top: .5em