.o-section
	width 100%
	display: flex
	justify-content: center
	padding 20px 0
	overflow hidden
	+TabletPortrait()
		padding 45px 0

	&--top
		padding 50px 0 20px
		+TabletPortrait()
			margin-top -74px
			padding 0 0 50px
	&--main
		padding-top 68px
		+TabletLandscape()
			padding-top 180px

	&--banner
		padding 30px 0 40px
		+TabletLandscape()
			padding 40px 0
	&--banner-small
		padding 10px 0
		+TabletLandscape()
			padding 25px 0
