.u-hidden
	display none !important

.u-visible
	display flex !important

.u-column
	display flex !important
	flex-direction column !important

.u-items-start
	align-items: flex-start !important


.u-float-left
	float left

.u-float-right
	float right

.u-clear-both
	clear both

.u-text-center
	text-align center

.u-text-left
	text-align left

.u-text-right
	text-align right

.u-invisibility
	visibility: hidden

.u-gap-2
	display: flex
	flex-direction: column
	gap: 2em
.c-hidden
	display none!important
//Screen read only accesibility
.sr-only:not(:focus):not(:active) 
	clip rect(0 0 0 0)
	clip-path inset(100%)
	height 1px
	overflow hidden
	position absolute
	white-space nowrap
	width 1px


.u-title
	clip rect(1px, 1px, 1px, 1px)
	position absolute

.mt-2
	margin-top 2rem

.my-5
	margin-top 5rem
	margin-bottom 5rem
.mb-2
	margin-bottom 2rem !important
.my-2
	margin 1rem 0 !important
.w-100
	width 100%