.c-bigbento
  &__container
    width 100%
    min-height: 80vh
    display grid
    grid-auto-columns 1fr
    grid-template-columns 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    grid-template-rows 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    gap 1rem
    grid-template-areas: "lealtad lealtad imagen1 calidad calidad calidad calidad" "lealtad lealtad imagen1 calidad calidad calidad calidad" "lealtad lealtad imagen1 honestidad honestidad imagen2 imagen2" "profesionalismo profesionalismo imagen1 honestidad honestidad imagen2 imagen2" "profesionalismo profesionalismo imagen1 honestidad honestidad imagen2 imagen2" "profesionalismo profesionalismo responsabilidad responsabilidad responsabilidad confianza confianza" "profesionalismo profesionalismo responsabilidad responsabilidad responsabilidad confianza confianza" "profesionalismo profesionalismo responsabilidad responsabilidad responsabilidad confianza confianza";
    +TabletPortrait(max)
      grid-template-areas "lealtad imagen1" "calidad honestidad" "imagen2 profesionalismo" "responsabilidad confianza"
      grid-template-columns repeat(2, 1fr)
      grid-template-rows auto
    +Tablet(max)
      grid-template-areas "lealtad" "imagen1" "calidad" "honestidad" "imagen2" "profesionalismo" "responsabilidad" "confianza"
      grid-template-columns repeat(1, 1fr)
    > div
      display: flex
      flex-direction: column
      > p
        margin-top 36px
        font-size 20px
        +Responsive(max, 500px)
            font-size 16px
      h3
        margin-top: 20px
        font-family tipografia-serif
        font-size: 26px
        word-break: break-all
        +Responsive(max, 500px)
          word-break: normal
          font-size: 22px
  &__lealtad
    grid-area lealtad
    width 100%
    height 100%
  &__imagen1
    grid-area imagen1
    width 100%
    height 100%
    +Responsive(max, 500px)
      img
        width 40%
        height: auto
  &__calidad
    grid-area calidad
    width 100%
    height 100%
    flex-direction: row !important
    .title
      display: flex
      flex-direction: column
      justify-content: flex-start
      gap: 8px
      padding-left: 1em
      h3
        margin-top: 0
  &__honestidad
    grid-area honestidad
    width 100%
    height 100%
  &__imagen2
    grid-area imagen2
    width 100%
    height 100%
    img
      width 80px
      height: auto
    +Responsive(max, 500px)
      img
        width 40%
        height: auto
  &__profesionalismo
    grid-area profesionalismo
    width 100%
    height 100%
    h3
      padding-top: 45px
      +Responsive(max, 500px)
        padding-top: 15px
  &__responsabilidad
    grid-area responsabilidad
    width 100%
    height 100%
  &__confianza
    grid-area confianza
    width 100%
    height 100%