.c-banner
	background blueDark-4
	padding 32px 24px
	border-radius 36px
	text-align center
	p 
		margin 0
		display flex
		align-items center
		justify-content center
		flex-wrap wrap
		gap 30px
		font-size 20px
		line-height 26px
		color white
	.o-btn 
		+TabletPortrait()
			margin-left 34px
			min-width 390px
