// .c-card-text
// 	p
// 		color blueDark-1
// 		font-size 18px
// 		line-height 24px

// .c-card-info
// 	p
// 		color blueDark-1
// 		font-size 22px
// 		line-height 28px
	
// 		em
// 			font-size 16px
// 			line-height 22px
// 			text-transform uppercase
// 		strong
// 			font-size 72px
// 			line-height 82px



