.c-documentation-siniestros
    display: flex
    flex-direction: column
    gap: 1em
    width 100%

.o-container-link
    width: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    padding: 0

    > .links
        margin-bottom: 3em
        +Desktop(max)
            margin-bottom: 2em
            width 100%
        h2
            font-size: 28px
            font-family tipografia-serif
            color: blueDark-1
            margin-bottom: 25px
        ul
            list-style: none
            padding: 0
            li
                font-family tipografia-serif
                color: blueDark-1
                margin-bottom: 20px
                a
                    font-size: 17px
                    text-decoration: none
                    color: inherit
                    &:hover
                        text-decoration: underline