.c-fovissste
    width: 100%
    display: flex
    justify-content: center
    padding: 2em
    +TabletLandscape(max)
        padding: 20px 20px
    .container-fovissste
        display: flex
        align-items: center
        flex-direction: column
        width: 1200px
        gap: 1em
        padding: 4em 6em
        +TabletLandscape(max)
            padding: 4em 2em
        +MobileLandscape(max)
            padding: 4em 0
        > h3
            font-size: 50px
            color: blueDark-1
            font-family: tipografia-serif
            margin-bottom: 1em
            +TabletLandscape(max)
                font-size: 30px
        > p
            margin-bottom: 0
            color: blueDark-1
            font-size: 2em
        &--blue-light
            background-color: blueDark-5
            border-radius: 2em
            > h3
                color black
            +MobileLandscape(max)
                padding: 4em 1em
        &__container
            display: flex
            flex-direction: column
            width 100%
            &__contenido
                padding: 2em
                display: flex
                flex-direction: column
                gap: 3em
                > h4
                    color blueDark-1
                    font-size: 30px
                    margin-bottom: 10px
                    +Phablet(max)
                        font-size: 20px
                > p
                    color: gray-2
                    font-size: 18px
                    line-height: 30px
                
                &__container-card
                    width 70%
                    +Phablet(max)
                        width 100%
