$c-header = 'c-header'

.c-header
	position fixed
	width 100%
	z-index 100
	left 0
	right 0
	background white
	padding 10px 0 10px
	
	+TabletLandscape()
		border-top 8px solid blueDark-1
		padding 0

	&:before
		+TabletLandscape()
			content ''
			background blue-4
			width 100%
			height 1px
			position absolute
			left 0
			top 85px
			opacity 0.2
			transition 0.3s linear
			z-index 110
	
	&__container
		display flex
		align-items center
		justify-content space-between

	&__brand
		
		&Mob
			color blueDark-1
			display block
			height 48px
			max-width 98px
			.i-icon
				font-size 66px
				line-height 48px
			+TabletLandscape()
				display none

		&Desk
			max-width 98px
			display none
			+TabletLandscape()
				display block
				margin-top 8px
				margin-bottom 16px

	&__bottom
		flex 100%
		padding 24px 0

	&__links
		margin-bottom 40px
		position relative
		+TabletLandscape()
			margin-bottom 0
			flex 0 85%
			display flex
			justify-content flex-end
			padding-right 75px
		a
			color white
			font-size 16px
			line-height 22px
			&:hover,
			&:focus
				color green-1
			+TabletLandscape()
				color blueDark-1

		ul
			+TabletLandscape()
				display flex
				flex-wrap wrap
				flex-direction row
				align-items center
			li
				padding 10px 0
				+TabletLandscape()
					padding 0 15px

	&__content
		display flex
		flex-wrap wrap
		align-items center
		justify-content space-between

	&__buttons
		padding 40px 0
		+TabletLandscape()
			padding 20px 0
			flex 0 1 auto
			order 4
			transition 0.3s linear
		ul
			+TabletLandscape()
				display flex
				flex-wrap wrap
				align-items center
				justify-content center
		li
			margin-top 16px
			+TabletLandscape()
				margin-top 0
				margin-left 24px
				&:first-child
					margin-left 0
			.o-btn
				width 100%
				display block
				+TabletLandscape()
					min-width 190px
					display inline-block
				+Desktop()
					min-width 208px

	&__burguer
		background blueDark-1
		width 48px
		height 48px
		display block
		border-radius 50%
		color white
		position relative
		&:before,
		&:after
			content ''
			width 20px
			height 2px
			background white
			left 0
			right 0
			margin auto
			position absolute
			border-radius 2px
		&:before
			top 20px
		&:after
			top 27px
		+TabletLandscape()
			display none
		
	&__close
		background white
		width 48px
		height 48px
		display inline-flex
		align-items center
		justify-content center
		border-radius 50%
		color green-1
		font-size 24px
	
	&__cta
		display flex
		align-items center
		justify-content space-between
		background blueDark-1
		position fixed
		width 100%
		max-width 375px
		z-index 102
		right -100%
		padding 20px 40px
		top 0
		transition 0.3s linear

		.i-gmx
			font-size 66px
			color white
			line-height 48px
		+TabletLandscape()
			display none

	&__navigation
		padding 20px 40px
		background blueDark-1
		position fixed
		z-index 100
		width 100%
		max-width 375px
		top 0
		right -100%
		height 100vh
		overflow-y auto
		overflow-x hidden
		transition .3s linear
		visibility hidden
		+TabletLandscape()
			position static
			right unset
			max-width 100%
			height auto
			overflow unset
			background transparent
			padding 0
			display flex
			justify-content space-between
			align-items center
			flex-wrap wrap
			transition none
			visibility visible

	&__nav
		margin-top 48px
		//position relative
		padding-top 40px
		//overflow hidden
		+TabletLandscape()
			padding-top 0
			margin-top 0
			flex 0 auto
			order 3
	&__menu
		display flex
		flex-wrap wrap
		flex-direction column
		overflow hidden
		border-top 1px solid rgba(255, 255, 255, 0.2)
		+TabletLandscape()
			flex-direction row
			border-top none
			overflow unset
		a
			color white
			font-size 20px
			line-height 26px
			display flex
			align-items center
			justify-content space-between
			padding 20px 15px
			&:hover,
			&:focus
				color green-1
			+TabletLandscape()
				color blueDark-1
				padding 0

			&.c-header__back
				font-size 16px
				line-height 22px
				padding 20px 0
				border-top 1px solid rgba(255, 255, 255, 0.2)
				border-bottom 1px solid rgba(255, 255, 255, 0.2)
				justify-content flex-start
				.i-icon
					font-size 18px
					color green-1
					margin-right 8px
				+TabletLandscape()
					display none
		li
			border-bottom 1px solid rgba(white-hex, 0.20)
			+TabletLandscape()
				border-bottom none
				//position relative
		>li
			+TabletLandscape()
				margin-right 20px
				
			+Desktop()
				margin-right 48px
		
	&__submenu
		background blueDark-1
		overflow-y auto
		overflow-x hidden
		transform translateX(100%)
		position fixed
		right 0
		width 100%
		height 100vh
		top 0
		transition 0.3s
		padding 0 40px 40px
		max-width 375px
		padding-top 108px
		z-index 101
		visibility hidden

		+TabletLandscape()
			transform none
			background blueDark-4
			display none
			height auto
			right unset
			padding 0
			left 0
			position absolute
			width 100%
			max-width 100%
			top 174px
			padding 20px 0
			overflow unset
			animation menuAnimate 0.2s ease-out
		li
			+TabletLandscape()
				padding 10px 0
		.c-header__subLink
			&:after
				+TabletLandscape()
					display none

		.c-header__submenu
			+TabletLandscape()
				position static
				display block
				visibility visible
				padding 0
				animation none
		a 
			+TabletLandscape()
				color white
				font-size 16px
				line-height 22px
		.c-header__subLink
			+TabletLandscape()
				font-size 18px
				line-height 22px
				font-family tipografia-serif
				border-bottom 1px solid rgba(255, 255, 255, 0.2)
				margin-bottom 10px
				height 60px
				pointer-events none
	&__searchBtn
		background white
		width 48px
		height 48px
		display inline-flex
		align-items center
		justify-content center
		border-radius 50%
		color blueDark-1
		font-size 24px
		border 1px solid blueDark-1
	
	&__searchForm
		//display none
		position absolute
		width 100%
		height 100%
		left 0
		right 0
		top 0
		z-index 99
		visibility hidden
		opacity 0
		pointer-events none
		transition all 0.2s ease-in
		+TabletLandscape()
			height auto
			//padding 18px 0
			//width 85%
			z-index 100
		&.is-visible
			//display block
			visibility visible
			opacity 1
			pointer-events auto
	&__search
		+TabletLandscape()
			display none

	&__searchDesk
		color blueDark-1
		display none
		+TabletLandscape()
			display inline-flex
			align-items center
			justify-content center
		.i-search
			background white
			width 48px
			height 48px
			display inline-flex
			align-items center
			justify-content center
			border-radius 50%
			font-size 24px
			border 1px solid blueDark-1
		span
			margin-left 16px

		&:hover,
		&:focus
			color green-1
			.i-search
				border-color green-1
	
	&__subLink
		position relative
		&:after
			font-family tipografia-icon
			content icon-angle-right
			color green-1
			font-size 18px
			+TabletLandscape()
				content icon-angle-down
				font-size 16px
				line-height 1
				padding-top 5px
				margin-left 8px
	
	&__subList
		@media(max-width 1023px)
			margin-left auto !important

		+TabletLandscape()
			margin 0 auto
			max-width 440px
			padding 0 20px
			//position relative


		&--large
			+TabletLandscape()
				display flex
				flex-wrap wrap
				max-width 1240px
				gap 3%
				>li
					flex 1
					padding 0
		
	&.is-open
		&:before
			content ''
			width 100%
			height 100%
			background rgba(0,0,0,.6)
			position absolute
			top 0px
			
		.c-header__navigation
			right 0
			visibility visible
			
		.c-header__cta
			right 0
	
	.is-active
		>.c-header__submenu
			transform translateX(0)
			visibility visible
			+TabletLandscape()
				transform none
				display block
				// .c-header__submenu
				// 	left 230px
				// 	top 0
	
	.has-focus
		// >.c-header__submenu > .c-header__submenu
		// 	overflow hidden
		// 	border 1px solid white
		// 	+TabletLandscape()
		// 		overflow unset
		//&.has-active
		.c-header__submenu
			transform translateX(0)
			visibility visible
			+TabletLandscape()
				transform none
				display block
					
	.has-hidden
		overflow hidden
		
	&.has-scroll
		box-shadow 0 6px 6px -3px rgba(0,0,0,0.1)
		+TabletLandscape()
			padding-top 0
			.c-header__buttons
				padding 10px 0
				.o-btn
					padding 8px 30px
			.c-header__brandDesk
				max-width 60px
				margin 10px 0
			&:before
				top 58px
			// .c-header__menu
			// 	>li
			// 		>a
			// 			font-size 18px
			// 			line-height 24px
			.c-header__submenu
				top 118px

			// .c-header__subList
			// 	left -30px

			.c-form-search
				padding 9px 0
			.c-form-search__buttons 
				.o-btn
					padding 8px 30px

.has-scrollHide
	overflow hidden
	&:before
		content ''
		width 100%
		height 100%
		background rgba(0,0,0,.6)
		position fixed
		top 0px
		z-index 10

.has-filter
	&:before
		content ''
		width 100%
		height 100%
		background rgba(0,0,0,.6)
		position fixed
		top 0px
		z-index 10
