.c-introduction-text
    width 100%
    display flex
    flex-direction column
    justify-content center
    align-items center
    padding 50px 0
    &#manuales
      gap: 1rem;
    &#reportar-siniestro
      gap: 90px;
    +Tablet(max)
        padding 50px 20px
    &__text-container
        margin-bottom: 3em
        max-width 640px
        width 100%
        +Tablet(max)
            max-width 100%
        > p
            font-size 20px
            line-height 30px
            color: gray-2
            +Tablet(max)
                font-size 17px
                line-height 25px
        > h2
          color blueDark-1
          font-size 60px
          font-family tipografia-serif
          +Resposive(max, 600px)
            font-size 40px
          +MobilePortrait(max)
            font-size 28px
          &.mb-spacing
            margin-bottom 2rem
        > h3
          color blueDark-1
          font-size 28px
          +Resposive(max, 600px)
            font-size 16px
          +MobilePortrait(max)
            font-size 20px
          &.my-spacing
            margin 2.5rem 0
        .container-heading-company-h4
          margin-bottom: 2em
          > h4
            color blueDark-1
            font-size 60px
            font-family tipografia-serif
            +Resposive(max, 600px)
              font-size 40px
            +MobilePortrait(max)
              font-size 28px
            &.mb-spacing
              margin-bottom 2rem
        .container-gray-company
          p
            color gray-2
            font-size 24px
            line-height: 32px
            > small
              font-size 18px
              display block
              margin-top: 1em
              line-height: 28px
