.c-image-banner
  width 100%
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  border-radius 2rem
  padding 1rem 3rem