.c-coverage
    width 100%
    display flex
    justify-content center
    padding 30px 20px
    &__container-banner
        width 100%
        max-width 1200px
        border-radius 2em
        background-color blueDark-1
        color white
        display flex
        gap 1em
        padding 4em 5em 5em 3em
        +Desktop(max)
            max-width 100%
        +TabletLandscape(max)
            padding 2em 1.5em
            flex-direction column
        > h2
            width fit-content
            height fit-content
            font-size 1.5em
            padding-bottom .5em
            border-bottom 2px solid white
            font-family tipografia-sans
    &__container-elements
        width 100%
        padding-left 4em
        display flex
        flex-direction column
        gap 2em
        +TabletLandscape(max)
            padding-left 0
        > p
            font-family tipografia-serif
            font-size 16px
        h3
            font-family tipografia-serif
            font-size 1.4em
            padding-left: 90px
            +TabletLandscape(max)
                padding-left 0
        +TabletLandscape(max)
            padding-left: 0
    &__list-elements
        display flex
        flex-direction column
        gap 2em
        > p
            font-family tipografia-serif
            padding-left: 90px
        // .container-content-text
        //     display flex
        //     flex-direction column
        //     gap 2em
        //     p
        //         font-size 1.4em
        //         font-family tipografia-serif
        //     .text-small
        //         width 80%
        //         font-size 1em
        &__container-element
            display flex
            gap 1em
            width 100%
            // +TabletLandscape(max)
            //     flex-direction column
        &__container-image
            display flex
            align-items center
            border-radius 1.5em
            padding 1em
            background-color white
            > img 
                width 41px
                height auto
            +TabletLandscape(max)
                width fit-content
                padding .5em
                border-radius 1em
                > img 
                    width 36px
                    height auto
            
        &__element
            display flex
            align-items center
            width 100%
            border-radius 1.5em
            background-color white
            color blueDark-1
            padding 1.5em 1em
            > p
                font-family tipografia-serif
                font-size 24px
                line-height 26px
                margin-bottom 0
                +TabletLandscape(max)
                    font-size 16px