$c-coverage = 'c-coverage'

.c-coverage
    width 100%
    display flex
    justify-content center
    padding 30px 20px
    +Mobile(max)
        padding 30px 0px
    &__container-banner
        width 100%
        max-width 1200px
        border-radius 2em
        background-color blueDark-1
        color white
        display flex
        gap 2em
        padding 4em 5em 5em 3em
        +Desktop(max)
            max-width 100%
        +TabletLandscape(max)
            padding 2em 1.5em
            flex-direction column
        +Mobile(max)
            padding 2em 1em
        > h2
            width fit-content
            height fit-content
            font-size 28px
            padding-bottom .5em
            border-bottom 2px solid white
            font-family tipografia-sans
        .container-heading-compania-h2
            width 230px
            > h2
                width 100%
                font-size: 18px
                margin: 0;
                > span
                    width 100%
                    display: block;
                    position: relative;
                    width: fit-content;
                    &:after
                        content: "";
                        display: block;
                        border-bottom: 2px solid white; /* Línea debajo del texto */
                        position: absolute;
                        bottom: -8px; /* Ajusta la distancia de la línea al texto */
                        left: 0;
                        width: 100%;
    &__container-elements
        width 100%
        padding-left 4em
        display flex
        flex-direction column
        gap 2em
        +TabletLandscape(max)
            padding-left 0
        > p
            font-family tipografia-serif
            font-size 16px
        h3
            font-family tipografia-serif
            font-size 1.4em
            padding-left: 90px
            +TabletLandscape(max)
                padding-left 0
        +TabletLandscape(max)
            padding-left: 0
        &--bg-white
            padding-left: 0
            padding: 72px 32px
            margin-left: 48px
            border-radius: 2em
            background-color: white
            color: black
            gap: 75px
            +TabletLandscape(max)
                margin-left: 0
            +Mobile(max)
                padding: 72px 10px
            li
                display: flex
                flex-direction: column
                h3
                    padding-left: 0
                    color: blueDark-1
                    font-size: 28px
                    margin-bottom: 40px
                    +Mobile(max)
                        font-size: 22px
                p
                    font-size: 18px
                    margin-bottom: 35px
                    +Mobile(max)
                        font-size: 16px

    &__list-elements
        display flex
        flex-direction column
        gap 2em
        > p
            font-family tipografia-serif
            padding-left: 90px

        // .container-content-text
        //     display flex
        //     flex-direction column
        //     gap 2em
        //     p
        //         font-size 1.4em
        //         font-family tipografia-serif
        //     .text-small
        //         width 80%
        //         font-size 1em
        &__container-element
            display flex
            gap 1em
            width 100%
            // +TabletLandscape(max)
            //     flex-direction column

        &__container-image
            display flex
            align-items center
            border-radius 1.5em
            padding 1em
            background-color white
            > img 
                width 41px
                height auto
            +TabletLandscape(max)
                width fit-content
                padding .5em
                border-radius 1em
                > img 
                    width 36px
                    height auto
            
        &__element
            display flex
            align-items center
            width 100%
            border-radius 1.5em
            background-color white
            color blueDark-1
            padding 1.5em 1em
            > p
                font-family tipografia-serif
                font-size 24px
                margin-bottom 0
                line-height: 28px
                +TabletLandscape(max)
                    font-size 16px
        &--step
            position: relative
            +TabletLandscape(max)
                margin-left: 20px
            &:after
                content: ''
                position: absolute
                top: 53px
                left: -20px
                width: 2px
                height: 74%
                border-left: 2px dashed blueDark-4

            &__container-element
                position: relative
                &:first-child, &:last-child
                    &:after
                        content: ''
                        position: absolute
                        z-index: 2
                        top: 54px
                        left: -19px
                        transform: translate(-50%, -50%)
                        height: 16px
                        width 16px
                        background-color: blueDark-4
                        border-radius: 100%
                
                &:last-child
                    &:after
                        +TabletLandscape(max)
                            top: 60px
    &.{$c-coverage}--gray
      padding 0
      .{$c-coverage}__container-banner
          width 100%
          max-width 1200px
          background transparent
          padding 0
          color white
          display flex
          gap 1em
          flex-direction column
          max-width 100%
          .{$c-coverage}__container-elements
            padding 0
            .{$c-coverage}__list-elements
              &__element
                  background-color blue-1
                  border 1px solid blue-2
                  p
                    font-size 16px
                    color blueDark-1
              &__container
                &-image
                  background-color blue-1
                  border 1px solid blue-2
