extends ../template/_template

append configuracion
    -var page			= {}
    -page['link']		= 'ayuda-con-tu-seguro/index.html'
    -page['title']		= 'Ayuda con tus pagos'
    -page['descrip']	= '...'
    -page['keys']		= 'seguros, negocios, personales'
    -page['lang']		= 'es'
    -page['responsive']	= true
    -page['section']	= []
    -page['libsCss']	= []
    -page['libs']		= []
    -page['plugins']	= ['splide']
    -page['js']			= [] 

    - var path = '../../'


block contenido
    main.o-section--main
        .c-banner-text.c-banner-text--padding1
            section.o-section.o-section--banner-small
                .o-container
                    .o-module.o-module--deco5.u-text-center
                        .o-module__title 
                            h1 #[small Ayuda con tu seguro] Con tus #[strong Pagos]
        .c-navigation-page
            nav.c-navigation-page__list-section(aria-label="Secciones del sitio")
                ul
                    li.container-anchor.container-anchor--active
                        a(href="#con-tus-pagos" title="Ir a la sección Ayuda con tus pagos") Con tus pagos
                    li.container-anchor
                        a(href="#con-tus-facturas" title="Ir a la sección de Ayuda con tus facturas") Con tus facturas
                    li.container-anchor
                        a(href="#con-codigo-qr" title="Ir a la sección de Ayuda con código QR") Con código QR
                    li.container-anchor
                        a(href="#con-tu-siniestro" title="Ir a la sección de Ayuda con tu siniestro") Con tu siniestro
                    li.container-anchor
                        a(href="#unidad-especializada" title="Ir a la sección de Ayuda con Unidad especializada") UNE
                    li.container-anchor
                        a(href="#derechos-basicos" title="Ir a la sección de Ayuda con Derechos basicos") Derechos básicos
                    li.container-anchor
                        a(href="#tipo-de-cambio" title="Ir a la sección de Tipo de cambio") Tipo de cambio
                    li.container-anchor
                        a(href="#sacale-provecho" title="Ir a la sección de Sácale provecho a tu seguro") Sácale provecho a tu seguro
                    li.container-anchor
                        a(href="#manuales" title="Ir a la sección de manuales") Manuales de pago
                    li.container-anchor
                        a(href="#boletines" title="Ir a la sección de boletines") Boletines
        .c-introduction-text.section-change#con-tus-pagos
          .c-introduction-text__text-container
              h2.mb-spacing Pago en línea de póliza de seguro
          section.o-card-gray
              p Consúltalo fácil, rápido y seguro
              a.o-btn.o-btn--green(href="#!" title="Realizar pago ahora") Realizar pago ahora

        .c-introduction-text.section-change#con-tus-facturas
          .c-introduction-text__text-container
              h2.mb-spacing Facturas
          section.o-card-gray
              p Consulta y descarga tu factura
              a.o-btn.o-btn--green(href="#!" title="Consultar ahora") Consultar ahora

        .c-introduction-text.section-change#con-codigo-qr
          .c-introduction-text__text-container
              h2.mb-spacing Ayuda con tu código QR
          section.o-card-gray
              p CAMBIAR 
              a.o-btn.o-btn--green(href="#!" title="CAMBIAR") CAMBIAR

        .c-introduction-text.section-change#con-tu-siniestro
          section.o-card-gray
              p Reportar Siniestro online
              a.o-btn.o-btn--green(href="#!" title="Reportar siniestro") Reportar siniestro

        .c-introduction-text.section-change#unidad-especializada
          .c-introduction-text__text-container
              h2.mb-spacing Unidad Especializada (UNE)
          section.o-card-gray
              p Reclamaciones, consultas y sugerencias
              a.o-btn.o-btn--green(href="#!" title="Contactar ahora") Contactar ahora

        .c-introduction-text.section-change#derechos-basicos
          .c-introduction-text__text-container
              h2.mb-spacing Derechos como contratante, asegurado y/o beneficiario de un seguro
          section.o-card-gray
              p CAMBIAR 
              a.o-btn.o-btn--green(href="#!" title="CAMBIAR") CAMBIAR

        .c-introduction-text.section-change#tipo-de-cambio
          .c-introduction-text__text-container
              h2.mb-spacing Tipo de cambio al día de hoy
          section.o-card-gray
              p Consultar el tipo de cambio 
              a.o-btn.o-btn--green(href="#!" title="Consultar ahora") Consultar ahora

        .c-introduction-text.section-change#sacale-provecho
          .c-introduction-text__text-container
              h2.mb-spacing Administración de riesgos
          section.o-card-gray
              p CAMBIAR 
              a.o-btn.o-btn--green(href="#!" title="CAMBIAR") CAMBIAR

        .c-introduction-text.section-change#manuales
          .c-introduction-text__text-container
              h2.mb-spacing Manuales
          section.o-card-gray
              p Formas de pago para liquidar pólizas contratadas. Version español
              a.o-btn.o-btn--green(href="#!" title="Consultar ahora") Consultar ahora
          section.o-card-gray
              p GMX policy payment manual. English version
              a.o-btn.o-btn--green(href="#!" title="Consultar ahora") See now

        .c-introduction-text.section-change#boletines
          .c-introduction-text__text-container
              h2.mb-spacing CAMBIAR