extends ../template/_template

block append configuracion
	- var page = {};
	- page['link'] = 'trabaja-con-nosotros/quiero-trabajar.html';
	- page['title'] = 'Trabaja con nosotros';
	- page['descrip'] = 'Quiero trabajar en GMX seguros';
	- page['keys'] = 'seguros, negocios, personales';
	- page['lang'] = 'es';
	- page['responsive'] = true;
	- page['section'] = [];
	- page['libsCss'] = [];
	- page['libs'] = [];
	- page['plugins'] = ['splide'];
	- page['js'] = [];

	- var path = '../../';

block contenido
	main.o-section--main
		.c-banner-text.c-banner-text--padding1
			section.o-section.o-section--banner-small
				.o-container
					.o-module.o-module--deco5.u-text-center
						.o-module__title.o-module__title--column.o-module__title--adapted#title
							h1 Quiero trabajar en #[span #[strong GMX] seguros]
		.c-navigation-page
			.c-navigation-page__list-section
		.o-container
			.o-return
				.o-return__container
					p Nuestra empresa ofrece grandes oportunidades de desarrollo profesional.
					h3.my-spacing ¿Buscas crecimiento profesional?
				.o-return__banner
					.o-return__text
						small Envíanos un correo electrónico
					.o-return__text
						a(href="mailto:talento@gmx.com.mx" title="talento@gmx.com.mx")
							.o-btn-arrow
								i.i-icon.i-arrow-up-right(aria-hidden='true')
							p talento@gmx.com.mx