@keyframes hintLabel
	0%
		top 0
		opacity 0

	100%
		top -12px
		opacity 1

@keyframes hintLabel_hide
	0%
		top -12px
		opacity 1
		font-size 11px

	99%
		top 0
		opacity 0
		font-size 11px

	100%
		top 0
		opacity 0
		font-size 0

@keyframes fadeEffect
	0%
		opacity 0
		margin-left 30px
	

	100%
		opacity 1
		margin-left 0


@keyframes menuAnimate 
	0% 
		opacity 0
		transform translateY(50px)
	
	50% 
		opacity 1
	
	100% 
		transform translateY(0px)

