//- Colores
black-hex 		= #000000
white-hex 		= #FFFFFF

gray-1-hex		= #FDFDFD

blue-1-hex		= #F7F8FE
blue-2-hex		= #D7EAEF
blue-3-hex		= #B8D1D6
blue-4-hex		= #96BAC2

blueDark-1-hex 	= #005581
blueDark-2-hex 	= #03306E
blueDark-3-hex 	= #0E3D5C
blueDark-4-hex 	= #03679D
blueDark-5-hex	= #3FACE2

green-1-hex 	= #54B948
// yellow-1-hex 	= #FAC46E

// red-1-hex		= #FA6E6E
// red-2-hex		= #FF3C53
// red-3-hex		= #F0534D


:root
	--black			: black-hex
	--white			: white-hex

	--gray-1		: gray-1-hex

	--blue-1		: blue-1-hex
	--blue-2		: blue-2-hex
	--blue-3		: blue-3-hex
	--blue-4		: blue-4-hex
	
	--blueDark-1	: blueDark-1-hex
	--blueDark-2	: blueDark-2-hex
	--blueDark-3	: blueDark-3-hex
	--blueDark-4	: blueDark-4-hex
	--blueDark-5	: blueDark-5-hex

	--green-1		: green-1-hex
	// --yellow-1		: yellow-1-hex

	// --red-1			: red-1-hex	
	// --red-2			: red-2-hex
	// --red-3			: red-3-hex


black 		= var(--black)
white		= var(--white)

gray-1		= var(--gray-1)

blue-1		= var(--blue-1)
blue-2		= var(--blue-2)
blue-3		= var(--blue-3)
blue-4		= var(--blue-4)

blueDark-1	= var(--blueDark-1)
blueDark-2	= var(--blueDark-2)
blueDark-3	= var(--blueDark-3)
blueDark-4	= var(--blueDark-4)
blueDark-5	= var(--blueDark-5)

green-1		= var(--green-1)
// yellow-1	= var(--yellow-1)

// red-1		= var(--red-1)
// red-2		= var(--red-2)
// red-3		= var(--red-3)
