//Tipografía
tipografia-sans = 'Hedvig Letters Sans', sans-serif
tipografia-serif = 'Hedvig Letters Serif', serif


font-size-h1	= 34px
font-size-h2	= 30px
font-size-h3	= 26px
font-size-h4	= 22px
font-size-h5	= 18px
font-size-h6	= 14px
font-size-p		= 16px
font-size-a		= 16px

line-height-h1	= 34px
line-height-h2	= 30px
line-height-h3	= 26px
line-height-h4	= 22px
line-height-h5	= 18px
line-height-h6	= 14px
line-height-p	= 16px
line-height-a	= 16px

//Peso de la tipografía
thin		= 100
light		= 300
regular		= 400
medium		= 500
semiBold	= 600
bold		= 700
extraBold	= 900
