//Iconos
tipografia-icon	= 'gmx'

icomoon-font-path ?= "assets/fonts/icons/"
icon-close = "\e90e"
icon-gmx = "\e90b"
icon-arrow-down = "\e90c"
icon-arrow-up = "\e90d"
icon-arrow-left = "\e90a"
icon-arrow-right = "\e909"
icon-facebook = "\e905"
icon-linkedin = "\e906"
icon-twitter-x = "\e907"
icon-arrow-up-right = "\e908"
icon-angle-down = "\e900"
icon-angle-up = "\e901"
icon-angle-left = "\e902"
icon-angle-right = "\e903"
icon-search = "\e904"
