extends ../template/_template

block append configuracion
    - var page = {};
    - page['link'] = 'compañia/index.html';
    - page['title'] = 'Historia Compañia';
    - page['descrip'] = 'La historia de la compañia GMX Seguros';
    - page['keys'] = 'seguros, negocios, personales';
    - page['lang'] = 'es';
    - page['responsive'] = true;
    - page['section'] = [];
    - page['libsCss'] = [];
    - page['libs'] = [];
    - page['plugins'] = ['splide'];
    - page['js'] = [];

    - var path = '../../';

block contenido
    main.o-section--main
        .c-banner-text.c-banner-text--padding1
            section.o-section.o-section--banner-small
                .o-container
                    .o-module.o-module--deco5.u-text-center
                        .o-module__title.o-module__title--adapted#title
                            h1 #[small Historia] Más de #[strong 25 años] de trayectoria

        .c-navigation-page
            .c-navigation-page__list-section.c-navigation-page__list-section--gap(aria-label='Secciones del sitio')
                ul(role='navigation')
                    li.container-anchor.container-anchor--active
                        a(href='#historia' title='Ir a la sección Historia' text-title='Más de' text-subtitle='25 años') Historia
                    li.container-anchor
                        a(href='#mision-vision-valores' title='Ir a la sección de misión, visión y valores' text-title='Procedimiento de atención a ' text-subtitle='Siniestros') Misión, visión y valores
                    li.container-anchor
                        a(
                            href='#innovacion'
                            title='Ir a la sección de innovación'
                            text-title='Documentación por ramo para el trámite de' text-subtitle='Siniestros'
                        ) Innovación
                    li.container-anchor
                        a(href='#integridad-corporativa' title='Ir a la sección de integridad corporativa' text-title='Definiciones' text-subtitle='') Integridad corporativa

        .o-section.o-section--padding
            .c-introduction-text__text-container
                p Somos una empresa mexicana especializada en dar soluciones de aseguramiento personalizada en materia de Responsabilidad Civil y Daños.
                p Nuestros más de 25 años de trayectoria nos han permitido conocer el mercado de los seguros; lo que nos ha hecho desarrollar de manera constante productos innovadores, que resuelven las necesidades de protección ante distintos riesgos.
                .o-container-card
                    h3 Nuestro inicio
                    .o-card-step.o-card-step--history
                        p En 1998 The St. Paul Companies inició operaciones en México.

                    .o-card-image
                        img(src=urlFolder + 'images/compania/GMX-compania.png' alt="Imagen de la compañia GMX Seguros")

                    .o-card-step.o-card-step--blue-light
                        small EN
                        strong 2002,
                        p la firma fue adquirida por un conjunto accionario mexicano con amplia experiencia en seguros. Así nació Grupo Mexicano de Seguros S.A. de C.V.